{% extends "header.html" %}

{% block body %}

<div class="card">
	<div class="card-body">
		<h3>Add BM Collection to CIRM {{ptID}}</h3>

		<form method="post">
			<div class="form-group">
				<label for="patientID">CIRM Number/Patient ID</label>
				<input type="number" id="patientID" class="form-control" name="ptID" value="{{ptID}}" readonly>
			</div>
			<div class="form-group">
				<label for="inputDOC">Date of Collection</label>
				<input class="form-control" id="inputDOC" type="date" name="doc" value="{{currdate}}" required>
			</div>
			<div class="form-group">
				<label for="inputDOP">Date of Processing</label>
				<input class="form-control" id="inputDOP" type="date" name="dop" value="{{currdate}}" required>
			</div>
			<div class="form-group">
				<label for="inputVials"># of Vials</label>
				<input type="number" id="inputVials" class="form-control" min="0" max="2147483647" name="vials" value="{{request.form.vials}}" required>
			</div>
			<div class="form-group">
				<label for="inputCellNumbers"># of Cells</label>
				<input type="number" id="inputCellNumbers" class="form-control" min="0" max="2147483647" name="cellNumbers" value="{{request.form.cellNumbers}}" required>
			</div>
			<div class="form-group">
				<label for="inputType">Sample Disease Status</label>
				<select id="inputType" class="form-control" name="stype" required>
					<option value = 0>Diagnosis</option>
					<option value = 1>Remission</option>
					<option value = 2>Relapse</option>
				</select>
			</div>
			<div class="form-group">
				<label for="inputPostTransplant">Post Transplant Sample?</label>
				<select id="inputPostTransplant" class="form-control" name="postTransplant" required>
					<option value = 0>False</option>
					<option value = 1>True</option>
				</select>
			</div>
			<div class="form-group">
				<label for="inputBlast">Blast Frequency (%)</label>
				<input type="number" step="0.01" min="0" max="100" id="inputBlast" class="form-control" name="blast" value="{{request.form.blast}}">
			</div>
			<div class="form-group">
				<label for="inputViability">Viability (%)</label>
				<input type="number" step="0.01" min="0" max="100" id="inputViability" class="form-control" name="viability" value="{{request.form.viability}}">
			</div>
			<div class="form-group">
				<label for="inputFreezedownMedia">Cryopreservation Media</label>
				<input type="text" id="inputFreezedownMedia" class="form-control" maxlength="255" name="freezedownMedia" value="{{request.form.freezedownMedia}}" required>
			</div>
			<div class="form-group">
				<label for="inputLocation">Storage Location</label>
				<input type="text" id="inputLocation" class="form-control" maxlength="4" name="location" value="{{request.form.location}}" required>
			</div>
			<div class="form-group">
				<label for="inputNotes">Notes</label>
				<input type="text" id="inputNotes" class="form-control" maxlength="255" name="notes" value="{{request.form.notes}}">
			</div>
			<button class="btn btn-primary" type="submit" value="submit">Add BM Collection to CIRM {{ptID}}</button>
		</form>
	</div>
</div>

{% endblock %}