{% extends "header.html" %}

{% block body %}

<div class="card">
	<div class="card-body">
		<h3>Add Patient</h3>

		<form method="post">
			<div class="form-group">
				<label for="inputPatientID">CIRM Number/Patient ID</label>
				<input type="number" id="inputPatientID" class="form-control" name="ptid" value="{{request.form.ptid}}">
			</div>
			<div class="form-group">
				<label for="inputAMLSubtype">AML Subtype</label>
				<input type="text" id="inputAMLSubtype" class="form-control" maxlength="255" name="amltype" value="{{request.form.amltype}}" required>
			</div>
			<div class="form-group">
				<label for="inputMLLMut">MLL Rearrangement Mutation</label>
				<select id="inputMLLMut" class="form-control" name="mllmut" value="{{request.form.mllmut}}">
					<option>N/A</option>
					<option>True</option>
					<option>False</option>
				</select>
			</div>
			<div class="form-group">
				<label for="inputFLT3IDTMut">FLT3 ITD Mutation</label>
				<select id="inputFLT3IDTMut" class="form-control" name="flt3idtmut" value="{{request.form.flt3idtmut}}">
					<option>N/A</option>
					<option>True</option>
					<option>False</option>
				</select>
			</div>
			<div class="form-group">
				<label for="inputFLT3KinMut">FLT3 Kinase Mutation</label>
				<select id="inputFLT3KinMut" class="form-control" name="flt3kinasemut" value="{{request.form.flt3kinasemut}}">
					<option>N/A</option>
					<option>True</option>
					<option>False</option>
				</select>
			</div>
			<div class="form-group">
				<label for="inputBcrAblMut">BCR-ABL Fusion Mutation</label>
				<select id="inputBcrAblMut" class="form-control" name="bcrablmut" value="{{request.form.bcrablmut}}">
					<option>N/A</option>
					<option>True</option>
					<option>False</option>
				</select>
			</div>
			<div class="form-group">
				<label for="inputDiagnosisDate">Date of AML Diagnosis/Dianosis Sample Collection</label>
				<input class="form-control" id="inputDiagnosisDate" type="date" name="diagnosisdate" value="{{request.form.diagnosisdate}}" required>
			</div>
			<div class="form-group">
				<label for="inputNotes">Notes</label>
				<input type="text" id="inputNotes" class="form-control" maxlength="255" name="notes" value="{{request.form.notes}}">
			</div>
			<button class="btn btn-primary" type="submit" value="submit">Add Patient to Database</button>
		</form>
	</div>
</div>

{% endblock %}