{% extends "header.html" %}

{% block body %}

<div class="card">
	<div class="card-body">
		<h3>Add Treament to CIRM {{ptID}}</h3>

		<form method="post">
			<div class="form-group">
				<label for="inputPatientID">CIRM Number/Patient ID</label>
				<input type="number" id="inputPatientID" class="form-control" name="ptid" value="{{ptID}}" readonly>
			</div>
			<div class="form-group">
				<label for="inputDrug">Drug</label>
				<input type="text" id="inputDrug" class="form-control" maxlength="255" name="drug" value="{{request.form.drug}}" required>
			</div>
			<div class="form-group">
				<label for="inputStartDate">Start Date</label>
				<input class="form-control" id="inputStartDate" type="date" name="startdate" value="{{request.form.startdate}}" required>
			</div>
			<div class="form-group">
				<label for="inputEndDate">End Date</label>
				<input class="form-control" id="inputEndDate" type="date" name="enddate" value="{{request.form.enddate}}" >
			</div>
			<div class="form-group">
				<label for="inputNotes">Notes</label>
				<input type="text" id="inputNotes" class="form-control" maxlength="255" name="notes" value="{{request.form.notes}}" required>
			</div>
			<button class="btn btn-primary" type="submit" value="submit">Add to CIRM {{ptID}} Treatment Log</button>
		</form>
	</div>
</div>

{% endblock %}