{% extends "header.html" %}

{% block body %}

<div class="card">
	<div class="card-body">
		{% for bmID, ptID, doc, dop, vials, cellNumbers, stype, postTransplant, blast, freezedownMedia, location, clinicalFlow, notes in bm_sample %}
		<h3>CIRM {{ptID}} BM Collection ID {{bmID}}</h3>

		<form method="post">
			<div class="form-group">
				<label for="bmID">BM Collection ID</label>
				<input type="number" id="bmID" class="form-control" name="bmID" value="{{bmID}}" readonly>
			</div>
			<div class="form-group">
				<label for="patientID">CIRM Number/Patient ID</label>
				<input type="number" id="patientID" class="form-control" name="ptID" value="{{ptID}}" readonly>
			</div>
			<div class="form-group">
				<label for="DOC">Date of Collection</label>
				<input class="form-control" id="DOC" type="date" name="doc" value="{{doc}}" required>
			</div>
			<div class="form-group">
				<label for="DOP">Date of Processing</label>
				<input class="form-control" id="DOP" type="date" name="dop" value="{{dop}}" required>
			</div>
			<div class="form-group">
				<label for="Vials"># of Vials</label>
				<input type="number" id="Vials" class="form-control" min="0" max="2147483647" name="vials" value="{{vials}}" required>
				<a href='/take-vial/?ptid={{ptID}}&sampleid={{bmID}}&sampletype=1'>
					<button class="btn btn-secondary" type="button">Take Vial</button>
				</a>
			</div>
			<div class="form-group">
				<label for="CellNumbers"># of Cells</label>
				<input type="number" id="CellNumbers" class="form-control" min="0" max="2147483647" name="cellNumbers" value="{{cellNumbers}}" required>
			</div>
			<div class="form-group">
				<label for="Type">Sample Disease Status</label>
				<select id="Type" class="form-control" name="stype" value="{{stype}}" required>
					<option value = 0>Diagnosis</option>
					<option value = 1>Remission</option>
					<option value = 2>Relapse</option>
				</select>
			</div>
			<div class="form-group">
				<label for="PostTransplant">Post Transplant Sample?</label>
				<select id="PostTransplant" class="form-control" name="postTransplant" value="{{postTransplant}}" required>
					<option>False</option>
					<option>True</option>
				</select>
			</div>
			<div class="form-group">
				<label for="Blast">Blast Frequency (%)</label>
				<input type="number" step="0.01" min="0" max="100" id="Blast" class="form-control" name="blast" value="{{blast}}">
			</div>
			<div class="form-group">
				<label for="FreezedownMedia">Cryopreservation Media</label>
				<input type="text" id="FreezedownMedia" class="form-control" maxlength="255" name="freezedownMedia" value="{{freezedownMedia}}" required>
			</div>
			<div class="form-group">
				<label for="Location">Storage Location</label>
				<input type="text" id="Location" class="form-control" maxlength="4" name="location" value="{{location}}" required>
			</div>
			<div class="form-group">
				<label for="Notes">Notes</label>
				<input type="text" id="Notes" class="form-control" maxlength="255" name="notes" value="{{notes}}" required>
			</div>
			<button class="btn btn-primary" type="submit" value="submit">Update Sample Records</button>
		</form>
		<br></br>

		{% if clinicalFlow == None %}
		<button class="btn btn-secondary" onclick="location.href='/add-clinical-flow/?ptid={{ptID}}&bmid={{bmID}}'" >Attach Clinical Flow to Collection</button>
		{% else %}
		<button class="btn btn-secondary" onclick="location.href='/clinical-flow/?ptid={{ptID}}&bmid={{bmID}}'" >View Attached Clinical Flow</button>
		{% endif %}
		{% endfor %}


	</div>
</div>

{% endblock %}