{% extends "header.html" %}

{% block body %}

<script src="{{ url_for('static', filename='src/plugins/src/waves/waves.min.js') }}"></script>
<link href="{{ url_for('static', filename='src/assets/css/light/components/list-group.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='src/assets/css/light/users/user-profile.css') }}" rel="stylesheet" type="text/css" />

<link href="{{ url_for('static', filename='src/assets/css/dark/components/list-group.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='src/assets/css/dark/users/user-profile.css') }}" rel="stylesheet" type="text/css" />

<div class="row layout-spacing ">
    <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 layout-top-spacing">
            <div class="widget-content widget-content-area">
                <div class="d-flex justify-content-between">
                    <h3 class="">General Information</h3>
                    <!-- <a href="./user-account-settings.html" class="mt-2 edit-profile"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3"><path d="M12 20h9"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path></svg></a> -->
                </div>
                {% for ptID, diagnosisDate, amlType, mll, flt3Itd, flt3Kinase, bcrAbl, notes in pt_data %}
                <div class="text-center user-info">
                    <h5 class="">
                        CIRM# {{ptID}} 
                        <a href="/edit-patient/?ptid={{ptID}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                        </a>
                    </h5>
                </div>
                <div class="user-info-list">

                    <div class="">
                        <ul class="contacts-block list-unstyled">
                            <li class="contacts-block__item">
                                Date of AML Diagnosis: {{diagnosisDate}}
                            </li>
                            <li class="contacts-block__item">
                                AML Subtype: {{amlType}}
                            </li>
                            <li class="contacts-block__item">
                                MLL Rearr. Mutation: {{booldict[mll]}}
                            </li>
                            <li class="contacts-block__item">
                                FLT3 ITD Mutation: {{booldict[flt3Itd]}}
                            </li>
                            <li class="contacts-block__item">
                                FLT3 Kinase Mutation: {{booldict[flt3Kinase]}}
                            </li>
                            <li class="contacts-block__item">
                                BCR-ABL Fusion Mutation: {{booldict[bcrAbl]}}
                            </li>
                            <li class="contacts-block__item">
                                Notes: {{notes}}
                            </li>
                        </ul>
                    </div>                                    
                </div>
                {% endfor %}
            </div>
    </div>

    <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 layout-top-spacing">

        <div class="usr-tasks ">
            <div class="widget-content widget-content-area">
                <h3 class="">NGS/Myeloid Panel Mutations</h3> 
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Mutation ID</th>
                                <th>Gene</th>
                                <th>Mutation</th>
                                <th>Variant Freq.</th>
                                <th>Tier</th>
                                <th>Notes</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for mutID, ptID , gene, mutation, vaf, tier, mutnotes in mut_data %}
                            <tr>
                                <td>{{mutID}}</td>
                                <td>{{gene}}</td>
                                <td>{{mutation}}</td>
                                <td>{{vaf}}</td>
                                <td>{{tier}}</td>
                                <td>{{mutnotes}}</td>
                                <td>
                                    <a href="/edit-mutation/?ptid={{ptID}}&mutid={{mutID}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-secondary" onclick="location.href='/add-mutation/?ptid={{ptID}}'" >Add Mutation</button>
            </div>
        </div>
        
    </div>
    
</div>

<div class="row">

    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
        <div class="summary layout-spacing ">
            <div class="widget-content widget-content-area">
                <h3 class="">Treatment History</h3>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Entry ID</th>
                                <th>Drug</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for treatID, ptID, drug, startdate, enddate, notes in treat_hist %}
                            <tr>
                                <td>{{treatID}}</td>
                                <td>{{drug}}</td>
                                <td>{{startdate}}</td>
                                <td>{{enddate}}</td>
                                <td>{{notes}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-secondary" onclick="location.href='/add-treatment/?ptid={{ptID}}'" >Add Treatment</button>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">

        <div class="summary layout-spacing ">
            <div class="widget-content widget-content-area">
                <h3 class="">Vial Usage History</h3>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Entry ID</th>
                                <th># Vials Taken</th>
                                <th>PB/BM</th>
                                <th>PB/BM ID</th>
                                <th>User</th>
                                <th>Experiment</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entryID, vialsTaken, sampleType, sampleID, user, exp, date in vial_usage_log %}
                            <tr>
                                <td>{{entryID}}</td>
                                <td>{{vialsTaken}}</td>
                                <td>{{ {0:'PB', 1:'BM'}[sampleType] }}</td>
                                <td>{{sampleID}}</td>
                                <td>{{user}}</td>
                                <td>{{exp}}</td>
                                <td>{{date}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        
    </div>

    <div class="row layout-top-spacing">        
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class="widget-content widget-content-area br-8">
                <h3 class="">BM Collections Log</h3>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>BM ID</th>
                                <th>DOC</th>
                                <th>DOP</th>
                                <th># Vials</th>
                                <th>Cell #/Vial</th>
                                <th>Type</th>
                                <th>Post-Transplant?</th>
                                <th>Blast %</th>
                                <th>Viability</th>
                                <th>Cryo Media</th>
                                <th>Location</th>
                                <th>Notes</th>
                                <th class="no-content">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for bmID, ptID, doc, dop, vials, cellNumbers, type, postTransplant, blast, viability, freezedownMedia, location, clinicalFlow, notes in bm_sample_log %}
                            <tr>
                                <td>{{bmID}}</td>
                                <td>{{doc}}</td>
                                <td>{{dop}}</td>
                                <td>{{vials}}</td>
                                <td>{{cellNumbers}}</td>
                                <td>{{ {0:'Diagnosis', 1:'Remission', 2: 'Relapse'}[type] }}</td>
                                <td>{{ booldict[postTransplant] }}</td>
                                <td>{{blast}}</td>
                                <td>{{viability}}</td>
                                <td>{{freezedownMedia}}</td>
                                <td>{{location}}</td>
                                <td>{{notes}}</td>
                                <td>
                                    <a href="/bm-collection/?ptid={{ptID}}&bmid={{bmID}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-secondary" onclick="location.href='/add-bm-collection/?ptid={{ptID}}'" >Add BM Collection</button>
            </div>
        </div>
    </div>

    <div class="row layout-top-spacing">        
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class="widget-content widget-content-area br-8">
                <h3 class="">PB/LP Collections Log</h3>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>PB ID</th>
                                <th>DOC</th>
                                <th>DOP</th>
                                <th># Vials</th>
                                <th>Cell #/Vial</th>
                                <th>LP Sample</th>
                                <th>Type</th>
                                <th>Post-Transplant?</th>
                                <th>Blast %</th>
                                <th>Viability</th>
                                <th>Cryo Media</th>
                                <th>Location</th>
                                <th>Notes</th>
                                <th class="no-content">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pbID, ptID, doc, dop, vials, cellNumbers, lp, type, postTransplant, blast, viability, freezedownMedia, location, cbcID, notes in pb_sample_log %}
                            <tr>
                                <td>{{pbID}}</td>
                                <td>{{doc}}</td>
                                <td>{{dop}}</td>
                                <td>{{vials}}</td>
                                <td>{{cellNumbers}}</td>
                                <td>{{booldict[lp]}}</td>
                                <td>{{ {0:'Diagnosis', 1:'Remission', 2: 'Relapse'}[type] }}</td>
                                <td>{{ booldict[postTransplant] }}</td>
                                <td>{{blast}}</td>
                                <td>{{viability}}</td>
                                <td>{{freezedownMedia}}</td>
                                <td>{{location}}</td>
                                <td>{{notes}}</td>
                                <td>
                                    <a href="/pb-collection/?ptid={{ptID}}&pbid={{pbID}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-secondary" onclick="location.href='/add-pb-collection/?ptid={{ptID}}'" >Add PB/LP Collection</button>
            </div>
        </div>
    </div>

    <div class="row layout-top-spacing">        
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class="widget-content widget-content-area br-8">
                <h3 class="">Attachments</h3>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>File ID</th>
                                <th>Uploaded by</th>
                                <th>File Name</th>
                                <th>Upload Date</th>
                                <th>Description</th>
                                <th class="no-content">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fileID, name, filename, up_date, description in attachments_log %}
                            <tr>
                                <td>{{fileID}}</td>
                                <td>{{name}}</td>
                                <td>{{filename}}</td>
                                <td>{{up_date}}</td>
                                <td>{{description}}</td>
                                <td>
                                    <a href="/get-file/?fileid={{fileID}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-secondary" onclick="location.href='/add-attachment/?ptid={{ptID}}'">Add Attachment</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}