{% extends "header.html" %}

{% block body %}

<div class="card">
	<div class="card-body">
		<h3>Remove CIRM {{ptID}} {{sampleTypeStr}} ID {{sampleID}}?</h3>

		<form method="post">
			<div class="form-group">
				<label for="ptID">CIRM Number/Patient ID</label>
				<input type="number" id="ptID" class="form-control" name="ptID" value="{{ptID}}" readonly>
			</div>
			<div class="form-group">
				<label for="sampleType">Sample Type (0 = BM; 1 = PB)</label>
				<input type="number" id="sampleType" class="form-control" name="sampleType" value="{{sampleType}}" readonly>
			</div>
			<div class="form-group">
				<label for="sampleID">Sample ID</label>
				<input type="number" id="sampleID" class="form-control" name="sampleID" value="{{sampleID}}" readonly>
			</div>
			<button class="btn btn-danger mb-2 me-4" type="submit" value="submit">Confirm</button>
		</form>
	</div>
</div>

{% endblock %}